@import '../base/states';
@import './layout';

$button-border-color: rgba(0, 0, 0, .08) !default;
$button-background: $background !default;
$button-hover-border-color: rgba(0, 0, 0, .15) !default;
$button-active-border-color: rgba(0, 0, 0, .1) !default;
$button-disabled-border-color: $button-border-color;

$button-gradient: lighten($base, 5%), lighten($base, 3%) !default;
$button-hover-gradient: lighten($base, 2%), $base !default;
$button-active-gradient: lighten($base, 3%), lighten($base, 5%) !default;

$button-focused-box-shadow: 0 0 0 2px lighten($base, 3%) !default;
$button-active-box-shadow: inset 0 3px 5px #e8e8e8 !default;

$primary-background: $accent !default;
$primary-border-color: rgba(255, 99, 88, 1) !default;
//$primary-hover-background: $accent !default;
$primary-focused-box-shadow: 0 0 0 2px lighten($accent, 23%) !default;
$primary-active-background: $accent !default;
$primary-active-box-shadow: inset 0 3px 5px desaturate($accent, 3%) !default;
$primary-disabled-background: $accent !default;

$primary-gradient: adjust-hue($accent, 3), $accent !default;
$primary-hover-gradient: adjust-hue($accent, 6), adjust-hue($accent, 3) !default;
$primary-active-gradient: $accent, adjust-hue($accent, 3) !default;
$primary-disabled-gradient: adjust-hue($accent, 6), $accent !default;

$buttongroup-button-focused-box-shadow: inset 0 0 0 2px darken($base, 5%) !default;
$buttongroup-selected-button-focused-box-shadow: inset 0 0 0 1px darken($accent, 2%) !default;

@include exports('button/component') {

.button {
    color: $normal-text-color;
    background-color: $button-background;
    background-image: linear-gradient($button-gradient);
    border-color: $button-border-color;
    user-select: none;

    &:hover {
        background-image: linear-gradient($button-hover-gradient);
        border-color: $button-hover-border-color;
    }

    &:focus,
    &.state-focused {
        border-color: $button-hover-border-color;
        box-shadow: $button-focused-box-shadow;
        outline: 0;
    }

    &:active,
    &.state-active {
        background-image: linear-gradient($button-active-gradient);
        border-color: $button-active-border-color;
        box-shadow: $button-active-box-shadow;
    }

    &[disabled],
    &.state-disabled,
    &.state-disabled:hover,
    &.state-disabled:active,
    [disabled] &,
    &.state-disabled:hover,
    &.state-disabled:active {
        background-image: linear-gradient($button-gradient);
        border-color: $button-disabled-border-color;
        opacity: .7;
        box-shadow: none;
        cursor: default;
        outline: 0;
    }
}

.primary {
    color: $selected-text-color;
    background-color: $primary-background;
    background-image: linear-gradient($primary-gradient);
    border-color: $primary-border-color;

    &:hover {
        //background-color: $primary-hover-background;
        background-image: linear-gradient($primary-hover-gradient);
        border-color: $primary-border-color;
    }

    &:focus,
    &.state-focused {
        box-shadow: $primary-focused-box-shadow;
    }

    &:active {
        background-image: linear-gradient($primary-active-gradient);
        box-shadow: $primary-active-box-shadow;
    }

    &.state-disabled,
    &.state-disabled:hover,
    .state-disabled:focus,
    .state-disabled:active {
        color: $selected-text-color;
        background-color: $primary-disabled-background;
        background-image: linear-gradient($primary-disabled-gradient);
        border-color: $primary-disabled-background;
        box-shadow: none;
    }
}

.button-group {
    border-radius: $border-radius;

    .button {
        border-radius: 0;

        &:focus {
            box-shadow: $buttongroup-button-focused-box-shadow;
        }

        &.state-active {
            color: $selected-text-color;
            background-color: $primary-background;
            background-image: linear-gradient($primary-gradient);
            border-color: $primary-border-color;
            box-shadow: none;

            &:hover {
                //background-color: $primary-hover-background;
                background-image: linear-gradient($primary-hover-gradient);
                border-color: $primary-border-color;
            }

            &:focus {
                box-shadow: $buttongroup-selected-button-focused-box-shadow;
            }
        }

        &.group-start {
            border-radius: $border-radius 0 0 $border-radius;
        }

        &.group-end {
            border-radius: 0 $border-radius $border-radius 0;
        }

        &.group-start:last-child {
            border-radius: $border-radius;
        }
    }

    &.state-disabled {
        .button {
            &:focus {
                box-shadow: none;
            }

        }

    }
}
}
