@include exports("splitter/theme") {
	$splitter-text: $widget-text;
	.k-splitter {
		.k-resize-handle {
			background-color: $splitter-text;
		}

		.k-icon.k-collapse-prev,
		.k-icon.k-collapse-next {
			color: $splitter-text;
		}
	}

	// Splitbar
	.k-splitbar {
		@include appearance( button );
	}
	.k-splitbar-horizontal-hover,
	.k-splitbar-vertical-hover {
		@include appearance( hovered-button );
	}
	.k-ghost-splitbar {
		@include appearance( active-button );
	}
}