@include exports('calendar/theme') {

    .k-calendar {

        // Common
        th {
            border-width: 0;
        }


        // Header / footer
        .k-header {
            @include appearance( header );
        }
        .k-nav-prev,
        .k-nav-next,
        .k-nav-fast {

            // Hover
            &:hover,
            &.k-state-hover {
                @include appearance( hovered-button );
            }

            // Pressed
            &:active {
                @include appearance( pressed-button );
            }
        }
        .k-footer .k-nav-today {
            color: $accent;
        }


        // Content
        .k-content {

            .k-link {
                border-radius: 50%;
            }
        }

        .k-content thead {
            @include appearance( header );
            box-shadow: $button-pressed-shadow;
        }
        .k-content td {}
        .k-content .k-today {

            .k-link {
                box-shadow: inset 0 0 0 1px $accent;
            }

            &.k-state-selected .k-link {
                color: $accent-contrast;
            }
        }

        .k-alt,
        .k-weekend {
            background: darken( $widget-bg, 5 );
        }

        .k-content .k-alt {
            border-right-color: $widget-border;
        }

        .k-link:hover,
        .k-state-hover .k-link {
            @include appearance( hovered-node );
        }
        .k-state-selected .k-link {
            @include appearance( selected-node );
        }
        .k-state-focused .k-link {
            // TODO: consider extracting focused state to variable
            box-shadow: inset 0 0 0 2px darken($base-bg, 5%);
        }

        .k-state-selected.k-state-focused .k-link {
            box-shadow: inset 0 0 0 2px darken($primary-button-bg, 2%);
        }




        // Monthview
        .k-calendar-monthview {

            thead {
                @include appearance( header );
            }
        }
    }

}
