$switch-border-width: 1px;
$switch-handle-width: 2em;

@include exports('switch/layout') {
    .switch {
        cursor: pointer;
        display: inline-block;
        font-size: .75em;
        height: 2.5em;
        line-height: 1.76em;
        overflow: hidden;
        position: relative;
        text-align: left;
        user-select: none;
        vertical-align: middle;
        width: 5em;
        outline: 0;

        [type=checkbox] {
            display: none;
        }
    }

    .switch,
    .switch-wrapper,
    .switch-container,
    .switch-handle {
        box-sizing: border-box;
    }

    .switch-wrapper {
        display: block;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    .switch-background {
        display: block;
        height: 100%;
        position: relative;
        background: currentcolor;
    }

    .switch .switch-background {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .switch-container {
        top: 0;
        left: 0;
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        overflow: hidden;
        background: transparent;
        border-width: 0;
        transform: translateZ(0);
    }

    .switch-handle {
        top: 0;
        left: 0;
        width: $switch-handle-width;
        height: $switch-handle-width;
        display: inline-block;
        background-color: currentcolor;
        margin: 0 6px 0 2px;
        border: $switch-border-width solid transparent;
        background-clip: padding-box;
        box-shadow: 0 1px 0 1px currentcolor, 0 -1px 0 1px currentcolor;
        vertical-align: middle;
        margin-top: .17em;
    }

    .switch-label-off {
        left: $switch-handle-width;
        margin-left: 2px;
    }

    .switch-label-on {
        left: -$switch-handle-width;
    }

    .switch-label-on,
    .switch-label-off {
        display: block;
        text-align: center;
        position: absolute;
        text-transform: uppercase;
        text-shadow: none;
        font-size: 1em;
        line-height: 2em;
        vertical-align: middle;
        top: -.01em;
    }

    .switch-container,
    .switch-wrapper {
        border-width: $switch-border-width;
        border-style: solid;
        background-clip: content-box;
    }
}

