@include exports("pager/layout") {
    $pager-buttons-size: calc(#{$form-line-height-em} + 2px) !default; /// icon button size + 2px border (top and bottom)

    .k-pager-wrap {
        padding: $padding-x;
        border-width: 1px;
        border-style: solid;
        line-height: $form-line-height;
        display: flex;
        align-items: center;
        overflow: hidden;

        .k-label {
            margin: 0 $spacer-x;
            display: flex;
            align-items: center;
        }
        .k-pager-input {
            .k-textbox {
                margin: 0 1ex;
                width: 3em;
            }
        }
        .k-pager-sizes {
            .k-dropdown,
            > select {
                width: 5.2em;
                margin: 0 $padding-x;
            }
        }
        .k-pager-refresh {
            order: 10;
        }
        .k-pager-info {
            flex: 1;
            text-align: right;
        }
    }


    .k-pager-numbers {
        display: inline-flex;
        flex-direction: row;
        align-items: center;

        li {
            display: inline-block;
        }

        .k-current-page {
            display: none;
        }
        .k-current-page + li {
            margin-left: 0;
        }

    }


    // Links
    .k-pager-wrap > .k-link,
    .k-pager-numbers .k-link,
    .k-pager-numbers .k-state-selected {
        padding: $button-padding-y;
        width: calc( #{$button-calc-size} );
        height: calc( #{$button-calc-size} );
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
        line-height: $form-line-height;
        text-align: center;
        text-decoration: none;
        outline: none;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: center;
        position: relative;
        z-index: 1;

        &:hover,
        &:focus {
            z-index: 2;
            text-decoration: none;
        }
    }

}