@include exports("pager/theme") {

    $pager-items-hover-bg: rgba( 0, 0, 0, .07 ) !default;
    $pager-items-focus-shadow: 0 0 0 2px rgba( 0, 0, 0, .1 ) !default;
    $pager-numbers-text: $accent !default;
    $pager-numbers-selected-text: $selected-text !default;
    $pager-numbers-selected-bg: $selected-bg !default;

    .k-pager-wrap {

        .k-link,
        .k-pager-nav {
            border-width: 0;
            color: inherit;
            background-color: transparent;

            &:hover {
                background-color: $pager-items-hover-bg;
            }

            &:focus {
                box-shadow: inset $pager-items-focus-shadow;
            }
        }

    }
    .k-pager-numbers {

        .k-link {
            color: $pager-numbers-text;
        }

        .k-state-selected {
            border-color: transparent;
            color: $selected-text;
            background-color: $selected-bg;
            cursor: default;
            box-shadow: none;
        }

    }

}