@include exports("datetime/layout") {

    // Datepicker
    .k-datepicker {
        border-width: 0;
        line-height: $form-line-height;
        display: inline-block;
        vertical-align: middle;


        // Compact
        // sass-lint:disable mixins-before-declarations
        @include compact {

            .k-input {
                padding: $input-padding-y-sm $input-padding-x-sm;
            }

            .k-select {
                padding: $button-padding-y-sm;
            }
        }
        // sass-lint:enable mixins-before-declarations
    }

    // Timepicker
    .k-timepicker {
        border-width: 0;
        line-height: $form-line-height;
        display: inline-block;
        vertical-align: middle;


        // Compact
        // sass-lint:disable mixins-before-declarations
        @include compact {

            .k-input {
                padding: $input-padding-y-sm $input-padding-x-sm;
            }

            .k-select {
                padding: $button-padding-y-sm;
            }
        }
        // sass-lint:enable mixins-before-declarations
    }

    // Datetimepicker
    .k-datetimepicker {
        border-width: 0;
        line-height: $form-line-height;
        display: inline-block;
        vertical-align: middle;


        .k-select {
            padding: 0;

            .k-link {
                padding: $button-padding-y;
            }
        }


        // Compact
        // sass-lint:disable mixins-before-declarations
        @include compact {

            .k-input {
                padding: $input-padding-y-sm $input-padding-x-sm;
            }

            .k-select .k-link {
                padding: $button-padding-y-sm;
            }
        }
        // sass-lint:enable mixins-before-declarations
    }

}