@include exports("window/layout") {

    .k-window {
        padding: 0;
        max-width: 98vw;
        max-height: 98vh;
        border-width: 1px;
        border-style: solid;
        display: inline-flex;
        flex-direction: column;
        position: absolute;
        z-index: 10002;

        // overlay during dragging
        .k-overlay {
            position: absolute;
            opacity: 0;
        }
    }


    // Title bar
    .k-window-titlebar {
        padding: $window-titlebar-padding;
        min-height: $window-titlebar-min-height;
        border-width: $window-titlebar-border-width;
        border-style: $window-titlebar-border-style;
        white-space: nowrap;
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        align-items: center;
    }

    // Title bar title text
    .k-window-title {
        margin: 0;
        font-size: $window-title-font-size;
        font-family: $window-title-font-family;
        text-transform: $window-title-text-transform;
        line-height: 1;
        text-overflow: ellipsis;
        overflow: hidden;
        cursor: default;
        flex: 1;
    }


    // Actions
    .k-window-actions {
        line-height: 1;
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        align-items: center;
        vertical-align: top;
    }


    // Content
    .k-window-content,
    .k-prompt-container {
        padding: $window-inner-padding-y $window-inner-padding-x;
        outline: 0;
        overflow: auto;
        position: relative;
        flex: 1 1 auto;
    }
    .k-window-content + .k-prompt-container {
        margin-top: -($window-inner-padding-y / 2);
    }

    .k-window-iframecontent {
        padding: 0;
        overflow: visible;

        .k-content-frame {
            vertical-align: top;
            border: 0;
            width: 100%;
            height: 100%;
        }
    }
}
