@include exports("window/theme") {

    $window-shadow: 0 3px 3px 0 rgba(0, 0, 0, .06) !default;
    $window-focused-shadow: 1px 1px 7px 1px rgba(0, 0, 0, .3) !default;


    .k-window {
        @include appearance( panel );
        box-shadow: $window-shadow;

        > .k-header {
            @include appearance( header );

            .k-window-action {
                color: inherit;
                background: transparent;
                border-color: transparent;
            }
        }

        .k-window-action {
            opacity: 1;

            .k-icon:hover {
                color: $accent-contrast;
            }
        }
    }
    .k-window.k-state-focused {
        box-shadow: $window-focused-shadow;
    }


    .k-window-titlebar {
        border-color: inherit;
    }

}