@include exports("dropdownlist/layout") {

    .k-dropdown {
		overflow: visible;

        .k-input {}

        .k-select {
            border-width: 0;
        }

        // Compact
        @include compact {
            .k-input {
                padding: $input-padding-y-sm $input-padding-x-sm;
            }

            .k-select {
                padding: $button-padding-y-sm;
            }
        }

        .k-select {
			border-width: 0;

			.k-icon {
				line-height: $line-height-em;
				width: 100%;
				height: 100%;
				padding: 0 $padding-y;
				margin-left: -$padding-y;
				margin-right: -$padding-y;

				&::before {
					vertical-align: middle;
				}
			}
		}
    }
}