@include exports("editor/theme") {
    $editor-overlay-background: #000 !default;
    $editor-resize-handle-border: transparent transparent $widget-border !default;

    .k-editor {
        @include appearance( header );

        .k-editable-area {
            @include appearance( input );
        }

        .k-resize-handle {
            border-color: $editor-resize-handle-border;
        }
    }

    .k-overlay {
        background-color: $editor-overlay-background;
    }


    .k-header.k-window-content.k-content {
        @include appearance( header );
    }

    .k-editor .k-editor-toolbar-wrap,
    .k-ct-popup .k-editor-toolbar,
    .k-header.k-window-content.k-content {
        a.k-tool {
            @include appearance( button );
            background-image: none;

            &:hover,
            &.k-state-hover {
                @include appearance( hovered-button );
                text-decoration: none;
            }

            &:active,
            &.k-state-active {
                @include appearance( pressed-button );
                text-decoration: none;
            }

            &.k-state-selected {
                @include appearance( pressed-button );
            }
        }

        .k-tool-group {
            border-color: $border-color;
        }
    }
}