@include exports("menu/theme") {

    // Theme
    .k-menu {
        border-width: 0;
        color: inherit;
        background-color: transparent;

        .k-item {
            border-width: 0;
            color: $link-text;
        }

        .k-link {
            color: inherit;
        }

        .k-item.k-state-hover {
            color: $link-hover-text;
        }

        .k-link.k-state-active {
            color: $widget-text;
        }
    }
    .k-menu-group {

        .k-item {
            color: inherit;
        }

        .k-item.k-state-hover > .k-link {
            @include appearance( hovered-list-item );
        }
        .k-link.k-state-active {
            @include appearance( selected-list-item );
        }

    }

}