@include exports("multiselect/layout") {

    // Base
    .k-multiselect {
        position: relative;
        display: flex;
        line-height: normal;
        white-space: nowrap;
        vertical-align: middle;

        .k-multiselect-wrap {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            min-height: 28px; /* form-line-height + $padding-y * 2 */

            > .k-i-close {
                display: none;
                align-self: center;
                margin-left: auto;
                margin-right: $padding-y;
                outline: 0;
            }
        }

        ul {
            vertical-align: top;
        }
        li {
            margin: 0 ($input-padding-x / 4);
            float: left;
        }

        .k-button {
            padding: ($button-padding-y / 2) ($button-padding-x / 2);
            cursor: pointer;
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            line-height: inherit;

            .k-select {
                display: flex;

                .k-i-close {
                    margin-right: 0;
                    margin-left: $padding-y * 2;
                }
            }
        }

        .k-input {
            width: auto;
            border: 0;
            outline: 0;
            color: inherit;
            background: none;
            font: inherit;
        }


        // Icons
        .k-i-loading {
            position: absolute;
            right: $padding-y-sm;
            top: $padding-y-sm;
        }

        &.k-state-hover,
        &.k-state-focused {
            .k-multiselect-wrap {
                > .k-i-close {
                    display: flex;
                }
            }
        }

        // Compact
        @include compact {
            padding: ($input-padding-y / 4);
        }
    }

}