$validator-warning-bg: $warning !default;
$validator-warning-border: $validator-warning-bg !default;

@include exports("validator/theme") {
	.k-tooltip-validation {
		border-color: $validator-warning-border;
		color: black-or-white($validator-warning-bg, #000000, #ffffff);
		background-color: $validator-warning-bg;
	}
}