// TODO: extract or remove alert colors variables
$alert-warning-border: #ff0000 !default;
$alert-warning-text: #00ff00 !default;
$alert-warning-bg: #00ff00 !default;


@include exports("validator/theme") {

	.k-tooltip-validation {
		border-color: $alert-warning-border;
		color: $alert-warning-text;
		background-color: $alert-warning-bg;
	}

}